H1 {font-weight: bold; font-size: 36pt; font-variant: small-caps; margin-top: 6pt; margin-bottom: 12pt; text-decoration: underline; text-align: center}
H2 {font-weight: normal; font-size: 25pt; font-variant: small-caps; margin-top: 6pt; margin-bottom: 5pt; text-decoration: underline; text-align: center; font-style: italic}
H3 {text-align: center}
H4 {margin-bottom: 1px; margin-top: 5px}
H5 {font-weight: normal; font-size: 10pt; font-family: Arial; font-style: italic; margin-top: 2px}
H6 {font-weight: normal; font-size: 10pt; text-align: center; margin-top: 2px}
TABLE {margin-bottom: 1px; margin-top: 1px}
TH {text-align: center; font-size: 18pt; font-weight: bold; text-decoration: underline}
TD.main {text-align: center}
IMG {margin-bottom: 1px}
A:active {color: #FFFFFF; background: #27CCFF}
A:link {color: #0000FF; text-decoration: none}
A:visited {color: #0000FF; text-decoration: none}
A:hover {text-decoration: underline; color: #FF0000}
